body
{
	text-align: left;
	text-indent: 0em;
	margin: 0;
	Padding: 0;
}

p
{
	text-align: left;
	text-indent: 0em;
	margin: 0;
	Padding: 0;
}

div
{
	text-align: left;
	text-indent: 0em;
	margin: 0;
	Padding: 0;
}

